#body{
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 1359px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}
.topbar{
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 80px;
    display: flex;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.menuimg{
    position: absolute;
    left: 29px; 
    width: 20px;
    height: 14px;
}
.headerlogo{
    position: absolute;
    top: 25px;
    left: 72px;
    width: 142px;
    height: 30px;
}
.searchicon{
    top: 32px;
left: 291px;
    position: absolute;
    width: 16px;
    height: 16px;
}
.searchtext{
    position: absolute;
    top: 30px;
    left: 321px;
    width: 100px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
}
.notification{
    position: absolute;
    top: 28px;
    left: 1294px;
    width: 22px;
    height: 21px;   
}
.profile{
    position: absolute;
    top: 18px;
    left: 1368px;
    width: 44px;
    height: 44px;
}
.name{
    position: absolute;
    top: 28px;
    left: 1424px;
    width: 68px;
    height: 21px;
}
.downarrow{
    position: absolute;
    top: 30px;
    left: 1507px;
    width: 20px;
    height: 20px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 242px;
    height: 1279px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.sidebar-menu {
    width: 183px;
    height: 43px;
    border-radius: 5px;
    margin: 13px 30px;
    align-items: center;
    font: normal normal normal 16px/21px Roboto;
    padding-left: 20px;
    display: flex;
}
.selected-item{
    background: #fff3f4 0% 0% no-repeat padding-box;
}
.active-menu{
    top: 119px;
    left: 48px;
    width: 15px;
    height: 15px;
    margin-right: 13px;
}
.graph{
    top: 171px;
    left: 46px;
    width: 16px;
    height: 16px;
    margin-right: 13px;
}
.inbox{
    top: 225px;
    left: 48px;
    width: 16px;
    height: 16px;
    margin-right: 13px;
}
.history{
    top: 278px;
    left: 47px;
    width: 16px;
    height: 16px;
    margin-right: 13px;
}
.user{
    top: 339px;
    left: 57px;
    width: 16px;
    height: 16px;
    margin-right: 13px;
}
.maintenance{
    top: 383px;
    left: 48px;
    width: 16px;
    height: 16px;
    margin-right: 13px;
}
.setting{
    top: 436px;
    left: 47px;
    width: 17px;
    height: 17px;
    margin-right: 13px;
}