#body{
    width: 1560px;
    height: 720px;
    background-color: #FAFAFA;
}
.image{
    top: 72px;
    left: 166px;
    width: 576px;
    height: 576px;
    border-radius: 50%;
    position: relative;
    background: transparent url('../img/hero-image.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    opacity: 1;
    float: left;
    margin-right: 164px;
}
.container{
    position: absolute;
    top: 106px;
    left: 906px;
}
.header-logo{
    width: 272px;
    height: 58px;
}
.tagline{
    width: 500px;
    height: 100px;
    margin-top: 19.17px;
    margin-bottom: 31.87px;
    text-align: left;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
.tagline span{
    width: 137px;
    height: 53px;
    text-align: left;
    font: normal normal 900 40px/53px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
}
.loginInfo{
    /* width: 260px; */
    height: 33px;
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-bottom: 23.45px;
}
.login{
    float: none;
    display: grid;
}
.login input[type=text], input[type=password] { 
    width: 429px;
    height: 49px;
    margin: 8px 0;
    padding: 12px 20px; 
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px; 
    box-sizing: border-box; 
}
.loginbtn{
    margin-top: 30.5px;
}
.loginbtn a{
    text-align: right;
    position: relative;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    left: 170.44px;
}
a{
    text-decoration: none;
}
button{
    width: 138px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-color: #C8242F;
    color: white;
    font-size: 20px;
    font: normal normal medium 18px/24px Roboto;
    border-radius: 23px;
}
.loginbtn p{
    text-align: right;
    float: inline-end;
}
.register{
    margin-top: 23.13px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
}
.register a{
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
}

/* dashboard style */

#dashboardbody{
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 1359px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}
.topbar{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 1560px;
    height: 80px;
    display: flex;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.menuimg{
    position: absolute;
    left: 29px; 
    width: 20px;
    height: 14px;
}
.headerlogo{
    position: absolute;
    top: 25px;
    left: 72px;
    width: 142px;
    height: 30px;
}
.searchicon{
    top: 32px;
    left: 291px;
    position: absolute;
    width: 16px;
    height: 16px;
}
.searchtext{
    position: absolute;
    top: 30px;
    left: 321px;
    width: 100px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
}
.notification{
    position: absolute;
    top: 28px;
    left: 1294px;
    width: 22px;
    height: 21px;   
}
.profile{
    position: absolute;
    top: 18px;
    left: 1368px;
    width: 44px;
    height: 44px;
}
.name{
    position: absolute;
    top: 28px;
    left: 1424px;
    width: 68px;
    height: 21px;
}
.downarrow{
    position: absolute;
    top: 30px;
    left: 1507px;
    width: 20px;
    height: 20px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    width: 242px;
    height: 1279px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.sidebar-menu {
    width: 183px;
    height: 43px;
    border-radius: 5px;
    margin: 13px 30px;
    align-items: center;
    font: normal normal normal 16px/21px Roboto;
    padding-left: 20px;
    display: flex;
}
.selected-item{
    background: #fff3f4 0% 0% no-repeat padding-box;
}
.active-menu{
    top: 119px;
    left: 48px;
    width: 15px;
    height: 15px;
    margin-right: 13px;
}
.graph{
    top: 171px;
    left: 46px;
    width: 16px;
    height: 16px;
    margin-right: 13px;
}
.inbox{
    top: 225px;
    left: 48px;
    width: 16px;
    height: 16px;
    margin-right: 13px;
}
.history{
    top: 278px;
    left: 47px;
    width: 16px;
    height: 16px;
    margin-right: 13px;
}
.user{
    top: 339px;
    left: 57px;
    width: 16px;
    height: 16px;
    margin-right: 13px;
}
.maintenance{
    top: 383px;
    left: 48px;
    width: 16px;
    height: 16px;
    margin-right: 13px;
}
.setting{
    top: 436px;
    left: 47px;
    width: 17px;
    height: 17px;
    margin-right: 13px;
}
.main-content{
    position: relative;
    top: 121px;
    width: 146px;
    height: 39px;
    text-align: left;
}
.headingNo{
    font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;     
}
.mb-1{
    font-size: 25px;
    letter-spacing: 0px;
    color: #3E3E3E;
}
.mb-0{
    margin-bottom: 0!important;
    font-size: 20px;
    color: #3E3E3E;
}
.star_img,.new-product,.total-product,.dollar-filled,.money-bag{
    float: left;
    padding-right: 10px;
}
.total-product{
    width: 50px;
    height: 50px;
}
.card {
    width: 230px;
    background-clip: none!important;
    border: none!important;
    border-radius: none!important;
}
.card-body{
    width: 250px;
}
.mb-4{
    flex: 0!important;
    width: 100%;
}
.align-items-center{
    background-color: white !important;
}
.m-0 {
    color: black!important;
}
.days{
    display: flex;
    flex-direction: row;
    /* padding-right: 10px; */
}
.weekly,.monthly{
    /* margin-right:10px; */
    width: 108px;
    height: 16px;
    color: #ADADAD; 
}
.yearly{
    color: #C8242F;
}
.yearly a{
    text-decoration: underline;
    color: #C8242F;
}
ul{
    display: flex;
}
.usa{
    /* width: 166px; */
    height: 20px;
    color: #000000;
}
.usabullet{
    margin-right: 88px;
    color: #C8242F;
}
.canada{
    top: 635px;
    left: 1419px;
    /* width: 51px; */
    color: #000000;
    height: 20px;
}
.russia{
    left: 1200px;
    color: #000000;
}
.india{
    color: #000000;
}
.indiabullet{
   margin-left: 218px;
   color: #EBC844;
}
.canadabullet{
    color: #A2B86C ;
}
.russiabullet{
    color: #F16C20;
}
.invoice-table{
    position: absolute;
    /* top: 758px; */
    width: 1280px;  
    height: 558px;
    background: #FFFFFF  
}
th{
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 1.5px;
    color: #ADADAD;
}
td{
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
.failedbox{
    background-color: #FFF5F5 ;
    color: #FF4545;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    padding: 10px 10px;
    /* margin: 10px 10px; */
}
.paidbox{
    background-color: #EBFFEF  ;
    color: #3CDD5F;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    padding: 10px 10px;
}
.pendingbox{
    background-color: #F8F8F8  ;
    color: #BABABA;
    width: 10px;
    border-radius: 5px;
    height: 10px;
    padding: 10px 10px;
}
.invoicetitle{
    /* float: left; */
    margin-left: 12px;
    margin-top: 5px;
}
.viewall{
    margin-top: 10px;
    /* position: relative; */
    margin-left: 1050px;
    color: #C8242F;
}
.tablehaeder{
    display: flex;
}


/* innerpage */
.formarea{
    top: 182px;
    left: 292px;
    width: 1218px;
    height: 1749px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 20px 20px;
}
.one-column{
    top: 205px;
    left: 321px;
    width: 121px;
    height: 29px;
    text-align: left;
    font:22px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
#name{
    width: 1157px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}
input[type=nametext]{
    padding-left: 10px;
}
input[type=textarea]{
    padding-left: 10px;
}
#dropdown{
    width: 1157px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    margin-top: 21px;
}
#multiple-line{
    width: 1157px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    margin-top: 21px;
    padding: 10px 10px
}
.two-column{
    margin-top: 44px;
    text-align: left;
    font:22px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
#twoform{
    width: 563px;
    height: 49px;
    margin-right: 15px;
    margin-bottom: 19px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    /* display: grid;
    grid-template-columns: 66.667% 33.334%;	 */
}
#twoformdropdown{
    width: 563px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}
.three-column{
    margin-top: 44px;
    font:22px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
#threeform{
    width: 364px;
    height: 47px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    margin-right: 20px;
}
#focused{
    border: 1px solid #C8242F;
    width: 364px;
    height: 47px;
    margin-right: 20px;
    border-radius: 5px;
}
#disabled{
    width: 364px;
    height: 47px;
    border: 1px dashed #ADADAD;
    border-radius: 5px; 
}
.four-column{
    margin-top: 44px;
    font:22px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
#fourfocused{
    border: 1px solid #C8242F;
    width: 266px;
    height: 47px;
    border-radius: 5px;
    margin-right: 25px;
}
#fourform{
    width: 266px;
    height: 47px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    margin-right: 25px;
}
.fourcolumntext1{
    color: #FF3B3B;
    font-size: 12px;
    margin-left: 47px;
    margin-top: 10px;
}
.fourcolumntext2{
    color: #ADADAD;
    font-size: 12px;
    margin-left: 200px;
    margin-top: 10px;
}
#other{
    width: 225px;
    height: 29px;
    text-align: left;
    font: 22px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-top: 43px;
}
#file-upload{
    width: 90px;
    height: 24px;
    text-align: left;
    font: 18px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-top: 20px;
}
.upload-btn {
    width: 124px;
    height: 36px;
    border: 1px solid #C8242F;
    border-radius: 18px;
    padding-top: 5px;
    padding-left: 20px;
    color: #C8242F;
}
.upload{
    display: flex;
}
.upload-btn img{
    padding-right: 5px;
}
.uploadtext{
    margin-left: 10px;
    margin-top: 5px;
    color: #ADADAD;
}
.radio{
    width: 104px;
    height: 24px;
    text-align: left;
    font: 18px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-top: 36px;
}
input[type=radio]{
    width: 15px;
    height: 15px;
    accent-color: red;
}
.option_1{
    height: 20px;
    text-align: left;
    font: 20px Roboto;
    letter-spacing: 0px;
    margin-right: 40px;
    color: #3E3E3E;
}
.option_2{
    height: 20px;
    text-align: left;
    font: 20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
input[type=checkbox] {
    accent-color: red;
}
.checkbox{
    width: 79px;
    height: 24px;
    text-align: left;
    font: 18px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-top: 36px;
}
.checkbox-btn label{
    font: 15px Roboto;
    height: 20px;
}
.checkbox1{
    margin-right: 36px;
}
.snackbar{
    width: 79px;
    height: 24px;
    text-align: left;
    font: 18px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-top: 34px;
}
#snackbar{
    display: flex;
    margin-bottom: 25px;
}
.snackbar_btn1{
    width: 563px;
    height: 44px;
    border: 1px solid #FF3535;
    padding-top: 5px;
    padding-left: 20px;
    border-radius: 5px;
    color: #C8242F;
    font-size: 18px;
    margin-right: 30px;
}
.snackbar_btn2{
    width: 563px;
    height: 44px;
    border: 1px solid #00B9E1;
    padding-top: 5px;
    padding-left: 20px;
    border-radius: 5px;
    color: #00B9E1;
    font-size: 18px;
}
.snackbar_btn3{
    width: 563px;
    height: 44px;
    border: 1px solid #FFA800;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 18px;
    color: #FFA800;
    margin-right: 30px;
}
.snackbar_btn4{
    width: 563px;
    height: 44px;
    border: 1px solid #00AF27;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 18px;
    color: #00AF27;
}
.snackbarimg1{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.snackbarimg2{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.callactiontxt{
    text-align: left;
    font:18px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-top: 35px;
}
.primarybtn{
    width: 124px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px!important;
    margin-right: 20px;
}
.secondarybtn{
    width: 145px;
    height: 44px;
    border: 1px solid #C8242F;
    border-radius: 22px!important;
}
.tabtxt{
    text-align: left;
    font:18px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-top: 46px;
}
a.active {
    border-bottom: 2px solid #C8242F!important;
}
  
.nav-link {
    color: rgb(110, 110, 110);
    font-weight: 500;
}
.nav-link:hover {
    color: #C8242F;
}
.nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
}
.tab-content {
    padding-bottom: 1.3rem;
}
.form-control {
    background-color: rgb(241, 243, 247);
    border: none;
}

@media screen and (max-width: 1024px){
    #body{
        width: 100%;
    }
    .image{
        left: 20px;
        width:320px;
        height: 320px;
        border: 10px solid white;
        background: transparent url(../img/hero-image.png) 30% 0% no-repeat padding-box;
    }
    .container{
        left: 400px;
        top:90px;
    }
    .header-logo {
        width: 220px;
        height: 40px;
    }
    .tagline,.tagline span{
        font-size: 35px;
    }
}
@media screen and (max-width: 768px){
    #body{
        width: 90%;
    }
    .image{
        left: 10px;
        width: 300px;
        height: 300px;
        background: transparent url(../img/hero-image.png) 30% 0% no-repeat padding-box;
    }
    .container{
        left: 380px;
        top:90px;
    }
    .header-logo {
        width: 200px;
        height: 40px;
    }
    .tagline,.tagline span{
        font-size: 30px;
    }
    .login input[type=text], input[type=password] {
        width: 400px;
    }
    .loginbtn a{
        left: 140px;
    }
}
@media screen and (max-width:480px){
    #body{
        width: 90%;
    }
    .image{
        float: none;
        left: 100px;
        top:10px
    }
    .header-logo{
        margin-left: -10px;
    }
    .container{
        top:70px;
        position: relative;
        left: 50px;
    }
    .tagline,.tagline span{
        font-size: 30px;
    }
}
@media screen and (max-width:360px){
    #body{
        width: 90%;
    }
    .loginInfo{
        font-size: 17px;
    }
    .register{
        font-size: 12px;
    }
}